<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Room edit form
</h1>
</div>
<div class="login-form">
<form #f="ngForm" (ngSubmit)="onSubmit()">
  
    <input type="text" id="room.RoomNumber" name="room.RoomNumber" [(ngModel)]="room.RoomNumber">
  <br /><br />
    <input type="text" id="room.BedCount" name="room.BedCount" [(ngModel)]="room.BedCount">
  <br /><br />
    <input type="text" id="room.Description" name="room.Description" [(ngModel)]="room.Description">
 <br /><br />
    <input type="text" id="room.PricePerNight" name="room.PricePerNight" [(ngModel)]="room.PricePerNight">
  
   <br> <br>
   <div>
     <input type="submit" value="Submit" title="login">
   </div>
</form>
</div>
  
</div>