<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Region input form
</h1>
</div>
<div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    
      <input type="text" id="Name" name="Name" value="" [(ngModel)]="Name" placeholder="Name">
    <br /><br />
    <div>
      <label for="Country">Country:</label><br>
       <select [(ngModel)]="SelectedCountry" name="SelectedCountry">
                <option *ngFor="let x of Countries" [ngValue]="x" ><country [country]="x"></country></option>
            </select>

    </div>
  <br><br>
  <div>
      <input type="submit" value="Submit" title="login">
  </div>
</form> 
</div>
  
</div>
<br><br>

<div class="login-container" style="width:35%;">
  <ul class="list-group">
    <li *ngFor="let c of regions" class="list-group-item">
      <region [region]="c"></region>
      <!--<button (click)="hasRight(c.Id)">right</button>-->
      <button *ngIf="hasRight()" [routerLink]= "['/editRegion/', c.Id]">edit</button>
       <button *ngIf="hasRight()" (click)="deleteRegion(c.Id)">delete</button>
    </li>
  </ul>
</div>