<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>


<div class="tab">
 
 <div *ngIf="!isLoggedIn()" >
    <a class="tablinks" [routerLink]="['/login']">Login</a>
  
    <a class="tablinks" [routerLink]="['/register']">Register</a>
 </div>
  <div *ngIf="isLoggedIn()">
      <a class="tablinks" [routerLink]="['/logout']">Logout</a>
  </div>
   <div *ngIf="isLoggedIn() && isAdmin()">
      <a class="tablinks" [routerLink]="['/region']">Region</a>
  </div>
  <div *ngIf="isLoggedIn() && isAdmin()">
      <a class="tablinks" [routerLink]="['/country']">Country</a>
  </div>
  <div *ngIf="isLoggedIn() && isAdmin()">
      <a class="tablinks" [routerLink]="['/place']">Place</a>
  </div>
  <div *ngIf="isLoggedIn()">
      <a class="tablinks" [routerLink]="['/accommodation']">Accommodation</a>
  </div>
  <div *ngIf="isLoggedIn() && isAdmin()">
      <a class="tablinks" [routerLink]="['/accommodationType']">Accommodation type</a>
  </div>
   <div *ngIf="isLoggedIn()">
      <a class="tablinks" [routerLink]="['/room']">Room</a>
  </div>
   <div *ngIf="isLoggedIn()">
      <a class="tablinks" [routerLink]="['/comment']">Comment</a>
  </div>
   
   <div *ngIf="isLoggedIn()">
      <a class="tablinks" [routerLink]="['/roomReservations']">Room reservations</a>
  </div>
  
</div>


<router-outlet></router-outlet>
