
<div class="login-container" style="width:35%;" >
  <div class="login-header">
    <h1 title="login">Login</h1>
  </div>
  <div class="login-form">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <input type="text" id="email" name="email" value="" [(ngModel)]="email" placeholder="Username" />
      <br /><br />
      <input type="text" id="pass" name="pass" value="" [(ngModel)]="pass" placeholder="Password" />
      <br /><br />
      <input title="login" type="submit" value="Login" />
      <br /><br />
      <a title="sign up" [routerLink]="['/register']">Sign up</a>
    </form>
  </div>
  
</div>
<br>


<!--<h1>
  Login input form
</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div> 
      <label for="email">Username:</label><br>
      <input type="text" id="email" name="email" value="" [(ngModel)]="email">
    </div>
 
  <br>
  <div>
      <label for="pass">Password:</label><br> 
      <input type="text" id="pass" name="pass" value="" [(ngModel)]="pass">
  </div>
   
  <br><br>
  <div>
      <input type="submit" value="Login">
  </div>
</form> 
<br>

<a [routerLink]="['/countryList']">Country List</a>-->
