<h1>
  Login input form
</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div> 
      <label for="email">Username:</label><br>
      <input type="text" id="email" name="email" value="" [(ngModel)]="email">
    </div>
 
  <br>
  <div>
      <label for="pass">Password:</label><br> 
      <input type="text" id="pass" name="pass" value="" [(ngModel)]="pass">
  </div>
   
  <br><br>
  <div>
      <input type="submit" value="Login">
  </div>
</form> 
<br>

<a [routerLink]="['/countryList']">Country List</a>
