
<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Accommodation edit
  </h1>
  </div>
<div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()" id="form" ngNativeValidate>
    
      <input type="text" id="acc.Name" name="acc.Name" [(ngModel)]="acc.Name" required>
      <br /><br />
      <input type="text" id="acc.Description" name="acc.Description" [(ngModel)]="acc.Description" required>
   <br /><br />
      <input type="text" id="acc.Address" name="acc.Address"[(ngModel)]="acc.Address" required>

   
  <br><br>
  <div>
      <input type="submit" value="Submit" title="login">
      <input type="reset" value="Clear form" title="login"/>
  </div>
</form>
</div>
  
</div>