<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Room input form
</h1>
 </div>
 <div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
 
      <input type="text" id="roomNum" name="roomNum" value="" [(ngModel)]="roomNum" placeholder="Room number" >
 
      <br /><br />
      
      <input type="text" id="bedCount" name="bedCount" value="" [(ngModel)]="bedCount" placeholder="Bed count">
    
    <br /><br />
   
      <input type="text" id="description" name="description" value="" [(ngModel)]="description" placeholder="Description">
   
   <br /><br />
 
      <input type="text" id="pricePerNight" name="pricePerNight" value="" [(ngModel)]="pricePerNight" placeholder="Price per night">
  
    <br><br /><br />
    <div>
      <label for="Accommodation">Accommodation:</label><br>
       <select [(ngModel)]="selectedAccommodation" name="selectedAccommodation">
                <option *ngFor="let x of accommodations" [ngValue]="x" ><accommodation [accommodation]="x"></accommodation></option>
            </select>

    </div>
  <br><br>
  <div>
      <input type="submit" value="Submit" title="login">
  </div>
</form> 
  </div>
  
</div>
<br><br>
<div class="login-container" style="width:35%;">
  <ul class="list-group">
    <li *ngFor="let c of rooms" class="list-group-item">
      <room [room]="c"></room>
      <button *ngIf="hasRight()" [routerLink]= "['/editRoom/', c.Id]">edit</button>
      <button *ngIf="hasRight()" (click)="deleteRoom(c.Id)">delete</button>
    </li>
  </ul>
</div>