<h1>
  Country input form
</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div> 
      <label for="Name">Name:</label><br>
      <input type="text" id="Name" name="Name" value="" [(ngModel)]="Name">
    </div>
 
  <br>
  <div>
      <label for="Code">Code:</label><br> 
      <input type="text" id="Code" name="Code" value="" [(ngModel)]="Code">
  </div>
   
  <br><br>
  <div>
      <input type="submit" value="Submit">
  </div>
</form> 
<br>
<h2>
  List of countries
</h2>
<div >
    <table class="table table-striped table-condensed">
      <tbody>
            <tr *ngFor="let c of countries"><country [country]="c"></country>
            <td><button *ngIf="hasRight()" [routerLink]= "['/editCountry/', c.Id]">edit</button></td>
            <td><button *ngIf="hasRight()" (click)="deleteCountry(c.Id)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

{{Name}}
{{Code}}