<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Country input form
</h1>
</div>
<div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div> 
      <label for="Name">Name:</label><br>
      <input type="text" id="Name" name="Name" value="" [(ngModel)]="Name" placeholder="Name" required>
    </div>
 
  <br>
  <div>
      <label for="Code">Code:</label><br> 
      <input type="text" id="Code" name="Code" value="" [(ngModel)]="Code" placeholder="Code" required>
  </div>
   
  <br><br>
  <div>
      <input type="submit" value="Submit">
  </div>
</form> 
</div>
  
</div>
<br><br>


<div class="login-container" style="width:35%;">
  <ul class="list-group">
    <li *ngFor="let c of countries" class="list-group-item">
      <country [country]="c"></country>
      <!--<button (click)="hasRight(c.Id)">right</button>-->
      <button *ngIf="hasRight()" [routerLink]= "['/editCountry/', c.Id]">edit</button>
       <button *ngIf="hasRight()" (click)="deleteCountry(c.Id)">delete</button>
    </li>
  </ul>
</div>