<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Country edit
</h1>
</div>
<div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()" id="form" ngNativeValidate>
  
      <input type="text" id="country.Name" name="country.Name" [(ngModel)] ="country.Name" required>
     <br /><br />
      <input type="text" id="country.Code" name="country.Code" [(ngModel)] ="country.Code" required>
 
   
  <br><br>
  <div>
      <input type="submit" value="Submit" title="login">
  </div>
</form> 
</div>
  
</div>