
    <!-- Page Content -->
    <div class="container" style="background-color:antiquewhite">
        <h1 style="font-weight: bold ;text-align: center">
            {{acc.Name}} : {{acc.AccommodationType.Name}}
        </h1>
        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://localhost:54042/{{acc.ImageURL}}">

            <h2 class="featurette-heading">Our facility
                <span class="text-muted">Will Catch Your Eye</span>
            </h2>
            <p class="lead">{{acc.Description}}</p>
        </div>

        <hr class="featurette-divider">
        <a class="btn btn-primary" *ngIf="isLoggedIn() && isUser()" href="#" [routerLink]="['/showReviews/', acc.Id]">Reviews<span class="glyphicon glyphicon-chevron-right"></span></a>
            
        <div class="featurette" id="services">
            <br>
            <h2 class="featurette-heading">We have great grades!
                <span class="text-muted">{{acc.AvargeGrade}}</span>
            </h2>
        </div>

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <br>
            <h2 class="featurette-heading">Find us here
            </h2>
            <br>
            <agm-map [latitude]="acc.Latitude" [longitude]="acc.Longitude" [zoom]="15">
                <agm-marker [latitude]="acc.Latitude" [longitude]="acc.Longitude" [title]="ame"> 
            </agm-marker>
            </agm-map>
        </div>

        <hr class="featurette-divider">


        <h2 class="featurette-heading" class="text-muted">Reserve your room!</h2>
        <hr class="style17">
        <div class="row" *ngFor="let x of rooms">
            
            <div >
                <h3 class="featurette">Room number:
                    <span class="text-muted">{{x.RoomNumber}}</span>
                </h3>
                <h3 class="featurette">Facilities:
                    <span class="text-muted">{{x.Description}}</span>
                </h3>
                <h3 class="featurette">Excellent price!!
                    <span class="text-muted">{{x.PricePerNight}} $</span>
                </h3>
                <h3 class="featurette">Number of beds:
                    <span class="text-muted">{{x.BedCount}}</span>
                </h3>
                <a class="btn btn-primary" *ngIf="isLoggedIn() && isUser()" href="#" [routerLink]="['/roomReservations/', x.Id]">Book Now! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <hr class="style17">
        </div>
        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Tasa&Zeks Travel 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


