<div class="login-container" style="width:35%;" >
  <div class="login-header">
    <h1 title="login">
      Accommodation type input form
    </h1>
  </div>
<div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
  
      <input type="text" id="Name" name="Name" value="" [(ngModel)]="Name" placeholder="Name">
    
  <br><br>
  <div>
      <input type="submit" value="Submit"  title="login">
  </div>
</form> 
</div>
  
</div>


<br><br>
<div class="login-container" style="width:35%;">
  <ul class="list-group">
    <li *ngFor="let c of accommodationTypes" class="list-group-item">
      <accommodation-type [accommodationType]="c"></accommodation-type>
      <!--<button (click)="hasRight(c.Id)">right</button>-->
      <button *ngIf="hasRight()" [routerLink]= "['/editAccommodationType/', c.Id]">edit</button>
       <button *ngIf="hasRight()" (click)="deleteAccommodationType(c.Id)">delete</button>
    </li>
  </ul>
</div>