<h1>
  Room Reservations input form
</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div> 
      <label for="startDate">Start date:</label><br>
      <input type="date" id="startDate" name="startDate" value="" [(ngModel)]="startDate">
    </div>
    <br>
    <div> 
      <label for="endDate">End date:</label><br>
      <input type="date" id="endDate" name="endDate" value="" [(ngModel)]="endDate">
    </div>
    <br>
    <div>
     <label for="Rooms">Room:</label><br>
       <select [(ngModel)]="selectedRooom" name="selectedRooom">
                <option *ngFor="let x of rooms" [ngValue]="x" ><room [room]="x"></room></option>
            </select>

    </div>
  <br><br>
  <div>
      <input type="submit" value="Submit">
  </div>
</form> 

<br><br>
<div >
  <ul>
    <li *ngFor="let c of roomReservationss" >
      <room-reservations [roomReservations]="c"></room-reservations>
      <button (click)="hasRight(c.Id)">right</button>
      <button (click)="deleteRoomReservations(c.Id)">delete</button>
    </li>
  </ul>
</div>