<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Register input form
</h1>
</div>
<div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()" id="form">
   
      <input type="text" id="email" name="email" value="" [(ngModel)]="email" placeholder="Email..">
      <br /><br />
      <input type="text" id="pass" name="pass" value="" [(ngModel)]="pass" placeholder="Password..">
     <br /><br />
      <input type="text" id="conPass" name="conPass" value="" [(ngModel)]="conPass" placeholder="Confirm password..">
   <br /><br />
      <input type="text" id="name" name="name" value="" [(ngModel)]="name" placeholder="Name..">
     <br /><br />
      <input type="text" id="surname" name="surname" value="" [(ngModel)]="surname" placeholder="Surename..">
 
  <br><br>
  <div>
      <input type="submit" value="Register" title="login">
  </div>
</form> 
</div>
  
</div>
<a [routerLink]="['/login']">Login</a>
