
<h1>
  Accommodation input form
</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div> 
      <label for="Name">Name:</label><br>
      <input type="text" id="Name" name="Name" value="" [(ngModel)]="Name">
    </div>
  <br>
  <div>
      <label for="desc">Description:</label><br> 
      <input type="text" id="desc" name="desc" value="" [(ngModel)]="Description">
  </div>
  <br>
  <div>
      <label for="address">Address:</label><br> 
      <input type="text" id="address" name="address" value="" [(ngModel)]="Address">
  </div>
  <br>
  <div>
      <label for="ag">Avarge Grade:</label><br> 
      <input type="text" id="ag" name="ag" value="" [(ngModel)]="AvargeGrade">
  </div>
  <br>
  <div>
      <label for="lat">Latitude:</label><br> 
      <input type="text" id="lat" name="desc" lat="" [(ngModel)]="Latitude">
  </div>
  <br>
  <div>
      <label for="long">Longitude:</label><br> 
      <input type="text" id="long" name="long" value="" [(ngModel)]="Longitude">
  </div>
  <br>
  <div>
      <label for="image">Image:</label><br> 
      <input type="text" id="image" name="image" value="" [(ngModel)]="ImageURL">
  </div>
  <div>
      <label for="Region">Place:</label><br>
       <select [(ngModel)]="selectedRegion" name="selectedRegion">
                <option *ngFor="let x of regions" [ngValue]="x" ><region [region]="x"></region></option>
            </select>

    </div>
    <div>
      <label for="Region">Accommodation type:</label><br>
       <select [(ngModel)]="selectedRegion" name="selectedRegion">
                <option *ngFor="let x of regions" [ngValue]="x" ><region [region]="x"></region></option>
            </select>

    </div>

   
  <br><br>
  <div>
      <input type="submit" value="Submit">
  </div>
</form> 

<div >
  <ul>
    <li *ngFor="let c of accommodations" >
      <accommodation [accommodation]="c"></accommodation>
      <button *ngIf="hasRight()" [routerLink]= "['/editAccommodation/', c.Id]">edit</button>
      <button *ngIf="hasRight()" (click)="delete(c.Id)">delete</button>
    </li>
  </ul>
</div>

