
<h1>
  Accommodation input form
</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()" id="form">
    <div> 
      <label for="Name">Name:</label><br>
      <input type="text" id="Name" name="Name" value="" [(ngModel)]="Name">
    </div>
  <br>
  <div>
      <label for="desc">Description:</label><br> 
      <input type="text" id="desc" name="desc" value="" [(ngModel)]="Description">
  </div>
  <br>
  <div>
      <label for="address">Address:</label><br> 
      <input type="text" id="address" name="address" value="" [(ngModel)]="Address">
  </div>
  <br>
  <div>
      <label for="lat">Latitude:</label><br> 
      <input type="text" id="lat" name="desc" lat="" [(ngModel)]="Latitude">
  </div>
  <br>
  <div>
      <label for="long">Longitude:</label><br> 
      <input type="text" id="long" name="long" value="" [(ngModel)]="Longitude">
  </div>
  <br>
  <div>
      <label for="image">Image:</label><br> 
      <input  type="file" name="ImageURL" id="ImageURL" (change)="onChange($event)"/>
  </div>
  <br>
  <div>
      <label for="places">Place:</label><br>
       <select [(ngModel)]="SelectedPlace" name="SelectedPlace">
                <option *ngFor="let x of places" [ngValue]="x" ><place [place]="x"></place></option>
            </select>

    </div>
    <br>
    <div>
      <label for="accTypes">Accommodation type:</label><br>
       <select [(ngModel)]="SelectedAccType" name="SelectedAccType">
                <option *ngFor="let x of accTypes" [ngValue]="x" >
                    <accommodation-type [accommodationType]="x"></accommodation-type>
                </option>
            </select>

    </div>

   
  <br><br>
  <div>
      <input type="submit" value="Submit">    
      <input type="reset" value="Clear form" />
  </div>
</form> 

<h3>
    Accommodations:
</h3>
<div>
  <ul>
    <li *ngFor="let c of accommodations" >
        <span>
            <accommodation [accommodation]="c"></accommodation>     
            <button *ngIf="hasRight(c.AppUserId)" [routerLink]= "['/editAccommodation/', c.Id]">edit</button>
            <button *ngIf="hasRight(c.AppUserId)" (click)="delete(c.Id)">delete</button>
        </span>
        <span style="width:50%; margin: 0 auto">
            <agm-map [latitude]="c.Latitude" [longitude]="c.Longitude" [zoom]="15">
                <agm-marker [latitude]="c.Latitude" [longitude]="c.Longitude" [title]="c.Name">
            </agm-marker>
            </agm-map>
        </span>
      <span>
          <img style="position: absolute; right: 16px;"  src="http://localhost:54042/{{c.ImageURL}}" style="width:304px;height:228px;">
      </span>
    </li>
  </ul>
</div>
