
<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Accommodation input form
</h1>
</div>
<div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()" id="form" *ngIf="isBaned()" ngNativeValidate>
    
      <input type="text" id="Name" name="Name" value="" [(ngModel)]="Name" placeholder="Name" required>
   <br /><br />
      <input type="text" id="desc" name="desc" value="" [(ngModel)]="Description" placeholder="Description" required>
   <br /><br />
      <input type="text" id="address" name="address" value="" [(ngModel)]="Address" placeholder="Address" required>
  <br /><br />
      <input type="text" id="lat" name="desc" lat="" [(ngModel)]="Latitude" placeholder="Latitude" required>
   <br /><br />
 
      <input type="text" id="long" name="long" value="" [(ngModel)]="Longitude" placeholder="Longitude" required>
  <br /><br />
      <input  type="file" name="ImageURL" id="ImageURL" (change)="onChange($event)" required/>
  <br /><br />
  <div>
      <label for="places">Place:</label><br>
       <select [(ngModel)]="SelectedPlace" name="SelectedPlace" required>
                <option *ngFor="let x of places" [ngValue]="x" ><place [place]="x"></place></option>
            </select>

    </div>
    <br>
    <div>
      <label for="accTypes">Accommodation type:</label><br>
       <select [(ngModel)]="SelectedAccType" name="SelectedAccType" required>
                <option *ngFor="let x of accTypes" [ngValue]="x" >
                    <accommodation-type [accommodationType]="x"></accommodation-type>
                </option>
            </select>

    </div>

   
  <br><br>
  <div>
      <input type="submit" value="Submit">
       
      <input type="reset" value="Clear" title="login">
  </div>
</form> 

</div>
  
</div>
<br><br>
<div class="login-container" style="width:35%;">
  <ul class="list-group">
    <li *ngFor="let c of accommodations" class="list-group-item">
      <accommodation [accommodation]="c"></accommodation>     
      <button *ngIf="hasRight(c.AppUserId)" [routerLink]= "['/editAccommodation/', c.Id]">edit</button>
      <button *ngIf="hasRight(c.AppUserId)" (click)="delete(c.Id)">delete</button>
      <button *ngIf="hasRight(c.AppUserId)" [routerLink]= "['/rooms/', c.Id]">Rooms</button>
    </li>
  </ul>
</div>
