<div class="login-container" style="width:35%;" >
  <div class="login-header">
<h1 title="login">
  Comment input form
</h1>
  </div>
  <div class="login-form">
  <form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  
     
      <input type="text" id="text" name="text" value="" [(ngModel)]="text" placeholder="Tekst" required>
<br /><br />
      <input type="number" min="1" max="5" id="grade" name="grade" value="" [(ngModel)]="grade" placeholder="Grade (1-5)" required>
   <br /><br />
    <div>
     <label for="Accommodation">Accommodation:</label><br>
      <!-- <select [(ngModel)]="selectedAccommodation" name="selectedAccommodation">
                <option *ngFor="let x of accommodations" [ngValue]="x" ><accommodation [accommodation]="x"></accommodation></option>
            </select>-->
        <input type="text" id="accName" name="accName" value="" [(ngModel)]="accName" readonly>
        <input type="hidden" id="selectedAccommodation" name="selectedAccommodation" value="" [(ngModel)]="selectedAccommodation" >
    </div>
  <br><br>
  <div>
      <input type="submit" value="Submit" title="login">
  </div>
</form> 
</div>
  
</div>
<br><br>
<div class="login-container" style="width:35%;">
  <ul class="list-group">
    <li *ngFor="let c of comments" class="list-group-item">
      <comment [comment]="c"></comment>
      <!--<button *ngIf="hasRight()" [routerLink]= "['/editComment/', c.Id]">edit</button>-->
      <button *ngIf="hasRight(c.AppUserId)" (click)="deleteComment(c.AppUserId,c.AccommodationId)">delete</button>
    </li>
  </ul>
</div>