@import url("https://fonts.googleapis.com/css?family=Lily+Script+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
body {
  background: #48BCE2;
}
hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}

.login-header {
  margin: 10px 20% 0px;
  padding: 20px;
  background: #2094ba;
}
.index-header {
  margin: 10px 20% 0px;
  padding: 20px;
}
.index-header h1 {
  cursor: default;
  color: #fff;
  font-size: 4em;
  opacity: 1;
  font-family: 'Lily Script One', cursive;
}
.login-header h1 {
  cursor: default;
  color: #fff;
  font-size: 3em;
  opacity: 1;
  font-family: 'Lily Script One', cursive;
}
.login-header p {
  font-family: 'Open Sans Condensed', sans-serif;
  cursor: pointer;
  position: absolute;
  right: 20%;
  top: 10px;
  font-size: 1.5em;
  color: #fff;
  padding: 10px;
  background: #006c92;
}

.login-form {
  background: #0c80a6;
  margin: 0 20%;
  padding: 20px;
}
.list-group{
  background: white;
  margin: 0 20%;
  padding: 20px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  height: 2em;
  border: none;
  font-size: 1.5em;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.login-form input[type="submit"] {
  height: 2em;
  width: 20%;
  background: #A0FF77;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
}
.login-form input[type="reset"] {
  height: 2em;
  width: 20%;
  background: #A0FF77;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
}
.login-form a {
  color: #cdcdcd;
  cursor: pointer;
}
