<div class="login-container" style="width:35%;" >
  <div class="login-header">
    <h1 title="login">Place input form</h1>
  </div>
  <div class="login-form">
    <form #f="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
      <input type="text" id="name" name="name" value="" [(ngModel)]="name" placeholder="Name" required/>
      <br /><br />
      <label for="Region">Region:</label><br>
       <select [(ngModel)]="selectedRegion" name="selectedRegion" required>
                <option *ngFor="let x of regions" [ngValue]="x" ><region [region]="x"></region></option>
            </select>
      <br /><br />
      <input title="login" type="submit" value="Add" />
      <br /><br />
    </form>
  </div>
  
</div>
<br>

<div class="login-container" style="width:35%;">
  <ul class="list-group">
    <li *ngFor="let c of places" class="list-group-item">
      <place [place]="c"></place>
      <button *ngIf="hasRight()" [routerLink]= "['/editPlace/', c.Id]">edit</button>
      <button *ngIf="hasRight()" (click)="deletePlace(c.Id)">delete</button>
    </li>
  </ul>
</div>

